# Testing Transposition

In [5]:
# https://www.youtube.com/watch?v=6AjYmHLHlpY

In [6]:
import pandas as pd

Create the data

In [12]:
data = { 'Year': [2019, 2020, 2021, 2022, 2023],
       'Sales': [2344, 4567, 57575, 7888, 42423],
       'Dept': ['Gov', 'Private', 'NGO', 'Security', 'Defense']}
data

{'Year': [2019, 2020, 2021, 2022, 2023],
 'Sales': [2344, 4567, 57575, 7888, 42423],
 'Dept': ['Gov', 'Private', 'NGO', 'Security', 'Defense']}

Create a dataframe

In [15]:
df = pd.DataFrame(data)
df

   Year  Sales      Dept
0  2019   2344       Gov
1  2020   4567   Private
2  2021  57575       NGO
3  2022   7888  Security
4  2023  42423   Defense

Transpose this Dataframe

In [17]:
new_data = df.T #df.transpose()

In [18]:
new_data

          0        1      2         3        4
Year   2019     2020   2021      2022     2023
Sales  2344     4567  57575      7888    42423
Dept    Gov  Private    NGO  Security  Defense

Convert the first row into the column

In [21]:
new_header = new_data.iloc[0]
new_data = pd.DataFrame(new_data.values[1:], columns=new_header)

In [22]:
new_data

0 2344     4567  57575     7888     42423
0   Gov  Private   NGO  Security  Defense

In [23]:
new_header

Year
2019     2344
2020     4567
2021    57575
2022     7888
2023    42423
Name: 0, dtype: object

In [1]:
>>> raw_s = r'Hi\nHello'

In [2]:
>>> print(raw_s)

Hi\nHello

In [3]:
>>> s = 'Hi\nHello'

In [4]:
>>> print(s)

Hi
Hello

In [7]:
>>> s = '\\examplehost\digitalocean\content\''

In [8]:
print(s)

\examplehost\digitalocean\content'

In [9]:
>>> s = r'\\examplehost\digital\content\''

In [10]:
>>> print(s)

\\examplehost\digital\content\'

In [11]:
>>> s = r"\"\""

In [12]:
>>> print(s)

\"\"

In [13]:
>>> s = R'ab\\'

In [14]:
>>> print(s)

ab\\