# Deriving new variables

1. Import libraries and data set 
2.

# 1. Import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as nm
import os

In [2]:
#create usable path 
path = r'C:\Users\rutha\CareerFoundry\01-23_Instacart_Basket_Analysis'

In [3]:
#import file
df_merge2 = pd.read_pickle(os.path.join(path, '02_Data', "Prepared_data", 'revised_merged.pkl'))

In [4]:
#check output
df_merge2.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.000000
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.500000
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.398438
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.699219
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.000000

In [5]:
df_merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32435059 entries, 0 to 32435058
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int16
 8   reordered               int16
 9   _merge                  category
 10  product_name            object
 11  aisle_id                float16
 12  department_id           float16
 13  prices                  float16
dtypes: category(1), float16(4), int16(2), int32(3), int8(3), object(1)
memory usage: 1.3+ GB

In [6]:
df_merge2.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.243506e+07,3.243506e+07,3.243506e+07,3.243506e+07,3.243506e+07,30356957.0,3.243506e+07,3.243506e+07,3.243506e+07,32404859.0,32404859.0,3.240486e+07
mean,1.710748e+06,1.029372e+05,1.714195e+01,2.738815e+00,1.342498e+01,NaN,2.557635e+04,8.351081e+00,5.896955e-01,NaN,NaN,NaN
std,9.873006e+05,5.946651e+04,1.753496e+01,2.090051e+00,4.246357e+00,0.0,1.409657e+04,7.126656e+00,4.918889e-01,0.0,0.0,NaN
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,1.000000e+00,0.000000e+00,1.0,1.0,1.000000e+00
25%,8.559430e+05,5.142000e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.0,1.353200e+04,3.000000e+00,0.000000e+00,31.0,4.0,4.199219e+00
50%,1.711047e+06,1.026110e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.0,2.525600e+04,6.000000e+00,1.000000e+00,83.0,9.0,7.398438e+00
75%,2.565514e+06,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,15.0,3.793500e+04,1.100000e+01,1.000000e+00,107.0,16.0,1.129688e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,30.0,4.968800e+04,1.450000e+02,1.000000e+00,134.0,21.0,inf

In [7]:
#create subset 
df_subset = df_merge2[:1000000]

In [8]:
#check output
df_subset.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.000000
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.500000
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.398438
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.699219
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.000000

In [9]:
#check output
df_subset.shape

(1000000, 14)

# Using the if-statement function

Using an if-statement to create a price label row which categorises products into one of three categories based on their price. Note, this is only on the subset, we will eventually apply to the full dataset.

In [10]:
#define your if-statement
def price_label(row):
    
    if row ['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [11]:
#apply the function to your subset
df_subset['price_range'] = df_subset.apply(price_label, axis = 1)

C:\Users\rutha\AppData\Local\Temp\ipykernel_20336\263193459.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['price_range'] = df_subset.apply(price_label, axis = 1)

In [12]:
#checking the output
df_subset['price_range'].value_counts(dropna = False)

Mid-range product    672525
Low-range product    314109
High range            12413
Not enough data         953
Name: price_range, dtype: int64

In [13]:
#checking for the most expensive product
df_subset['prices'].max()

inf

# Using the loc() function

The loc() function helps us locate rows based on certain conditions

In [14]:
#create some conditions in separate cells

In [15]:
df_subset.loc[df_subset['prices'] > 15, 'price_range_loc'] = 'High range product'

C:\Users\rutha\AppData\Local\Temp\ipykernel_20336\1948002570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset.loc[df_subset['prices'] > 15, 'price_range_loc'] = 'High range product'

In [16]:
df_subset.loc[(df_subset['prices'] <= 15) & (df_subset['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [17]:
df_subset.loc[df_subset['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [18]:
df_subset['price_range_loc'].value_counts(dropna = False)

Mid range product     672525
Low range product     314109
High range product     12413
NaN                      953
Name: price_range_loc, dtype: int64

### Using loc() function on the entire dataframe

In [19]:
#using the loc() function on whole dataframe
df_merge2.loc[df_merge2['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [20]:
df_merge2.loc[(df_merge2['prices'] <= 15) & (df_merge2['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [21]:
df_merge2.loc[df_merge2['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [22]:
df_merge2['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
NaN                      30200
Name: price_range_loc, dtype: int64

Investigating the NaN values

In [24]:
df_merge2['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
NaN                      30200
Name: price_range_loc, dtype: int64

# Using for-loops

For-loops are used to perform the same function on multiple elements, for instance, by running through an entire dataframe and performing a function on each row within that dataframe

In [ ]:
#which days have the most orders?
df_merge2['orders_day_of_week'].value_counts(dropna = False)

In [ ]:
#create the list for your new column catergorising days into whether they are busy or not
result = []

for value in df_merge2['orders_day_of_week']:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [ ]:
result

In [ ]:
#add the new column to your dataset
df_merge2['busiest_day'] = result

In [ ]:
#print the frequency of the new column to check with the frequencies stated before
df_merge2['busiest_day'].value_counts(dropna = False)

In [ ]:
df_merge2.head()

# Creating "busiest days" column

Q2. the clients would like to create a 'busiest days' (plural) column. This label should correspond with the two busiest days of the week as opposed to the single busiest day. They'd also like to know the two slowest days.

Days of the week codes
    0 = Saturday
    1 = Sunday
    2 = Monday
    3 = Tuesday
    4 = Wednesday
    5 = Thursday 
    6 = Friday

In [ ]:
#calculate which days have the most orders
df_merge2['orders_day_of_week'].value_counts(dropna = False)

Two busiest days are 0 and 1 (Saturday and Sunday) and the two slowest days are 3 and 4 (Tuesday and Wednesday)

In [ ]:
#create list for new busiest day column
result = []

for value in df_merge2['orders_day_of_week']:
    if value == 0 or value == 1:
        result.append('Busiest days')
    elif value == 3 or value == 4:
        result.append('Slowest days')
    else:
        result.append('Regularly busy')

In [ ]:
result

In [ ]:
#add the column to your data set
df_merge2['busiest_days'] = result

In [ ]:
#print the frequency of the new column to compare 
df_merge2['busiest_days'].value_counts(dropna = False)

Having compared the results against those in line The main observation is that the two busiest days, Saturday and Sunday, account for over a third of sale days - 37%. The next three most popular days, Monday, Thursday, and Friday, make up the largest category, "Regularly busy", but only 3% more sales for a total of 40%. Finally, the two slowest day, Tuesday and Wednesday, account for 23% of sales.

### Q4 When too many users make Instacart orders at the same time, the app freezes. We need to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled "Most orders", "Average orders", and 'Fewest orders'. Create a new column calling these "busiest_period_of_day"

In [ ]:
#check to see which column we need, 'order_hour_of_day'
df_merge2.head()

In [ ]:
#print the frequency of order_hour_of_day
df_merge2['order_hour_of_day'].value_counts(dropna = False)

Based on the above values, I am assigning anything with a frequency of 2.4m or higher as "Most orders" (9:00 - 16:00), anything abovs 100,000 up to 2.4m as "Average orders" (7:00 - 8:00, and 17:00 - 22:00), and anything under 100,000 as "Fewest orders" (23:00 - 6:00).

In [ ]:
#create list for new busiest period of day column
result = []

for hour in df_merge2['order_hour_of_day']:
    if hour in [10, 11, 14, 15, 13, 12, 16, 9]:
        result.append('Most orders')
    elif hour in [23, 6, 0, 1, 5, 2, 4, 3]:
        result.append('Fewest orders')
    else:
        result.append('Average orders')

In [ ]:
result

In [ ]:
#add the new column to your dataset
df_merge2['busiest_period_of_day'] = result

In [ ]:
#print the frequency of the new column
df_merge2['busiest_period_of_day'].value_counts(dropna = False)

In [ ]:
#checking column names
df_merge2.head()

In [ ]:
df_merge2.drop(['busiest_day'], axis = 1)

In [ ]:
#export dataframe 
df_merge2.to_pickle(os.path.join(path, '02_Data', 'Prepared_data', 'full_merged3.pkl'))