# Merging products and order dataframes

Combining orders data set with new data, order_products_prior

1. Import libraries and data set
2. Removing unwanted indexes
3. Merging data set 
4. Exporting data frame

#### 1. Import libraries and data set

In [1]:
#import libraries
import pandas as pd
import numpy as nm
import os

In [2]:
#folder path into usable string
path = r'C:\Users\rutha\CareerFoundry\01-23_Instacart_Basket_Analysis'

In [4]:
#import order_products_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02_Data', 'Original_data', 'order_products_prior.csv'))

In [12]:
#check output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
#import orders
df_ords = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_data', 'orders_clean.csv'))

#### 2. Removing unwanted indexes

In [18]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [20]:
#removed above Unnamed 0.1 index
df_ords = df_ords.drop(['Unnamed: 0.1'],axis=1)

In [22]:
#in head() another index appeared called 'Unnamed 0'
df_ords = df_ords.drop(['Unnamed: 0'],axis=1)

In [23]:
#checking output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [24]:
#checking shape
df_ords_prior.shape

(32434489, 4)

In [25]:
#checking shape
df_ords.shape

(3421083, 6)

#### 3. Merging data set

In [26]:
#merging df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
#checking output
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [28]:
#checking output
df_merged_large.shape

(32434489, 10)

In [29]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

#### 4. Export data frame

In [31]:
#export new dataframe in pickle 
df_merged_large.to_pickle(os.path.join(path, '02_Data', 'Prepared_data', 'order_products_combined.pkl'))