#### There were values identied which significantly skewed out data. Here is how we dealt with them

In [3]:
#import libraries
import pandas as pd
import numpy as np 
import os

In [4]:
#create p`ath 
path = r'C:\Users\rutha\CareerFoundry\01-23_Instacart_Basket_Analysis'

In [5]:
#import data 
df = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared_data', 'full_merged5.pkl'))

#### Checking out data set for values over 100

In [6]:
#locating all products with a value of 100 or more
df.loc[df['prices'] > 100]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,order_freq,order_freq_flag
1576,912404,17,12,2,14,5.0,21553,5,0,both,...,14900.0,High-range product,Regularly busy,Most orders,40,Regular customer,108.65,High spender,5.0,Frequent customer
1638,603376,17,22,6,16,4.0,21553,3,1,both,...,14900.0,High-range product,Regularly busy,Most orders,40,Regular customer,108.65,High spender,5.0,Frequent customer
16534,3264360,135,2,2,21,13.0,21553,6,0,both,...,14900.0,High-range product,Regularly busy,Average orders,4,New customer,1154.79,High spender,12.0,Regular customer
16540,892534,135,3,0,8,12.0,21553,3,1,both,...,14900.0,High-range product,Busiest days,Average orders,4,New customer,1154.79,High spender,12.0,Regular customer
53712,229704,342,8,1,19,30.0,21553,9,0,both,...,14900.0,High-range product,Busiest days,Average orders,16,Regular customer,114.43,High spender,23.0,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32350634,3172853,205650,18,1,9,7.0,21553,17,1,both,...,14900.0,High-range product,Busiest days,Most orders,25,Regular customer,351.14,High spender,6.0,Frequent customer
32377867,2504315,205818,3,5,15,3.0,21553,13,0,both,...,14900.0,High-range product,Regularly busy,Most orders,25,Regular customer,170.07,High spender,12.5,Regular customer
32377877,1108388,205818,5,4,5,1.0,21553,5,1,both,...,14900.0,High-range product,Slowest days,Fewest orders,25,Regular customer,170.07,High spender,12.5,Regular customer
32410707,1916142,206049,1,2,17,NaN,21553,2,0,both,...,14900.0,High-range product,Regularly busy,Average orders,5,New customer,938.03,High spender,7.0,Frequent customer
32410731,379732,206049,4,1,14,5.0,21553,4,1,both,...,14900.0,High-range product,Busiest days,Most orders,5,New customer,938.03,High spender,7.0,Frequent customer

In [7]:
#turning all values over 100 into NaN
df.loc[df['prices'] > 100, 'prices'] = np.nan

In [8]:
#checking output
df['prices'].max()

25.0

In [ ]:
#export data set