# 4.8 Grouping Data and Aggregating Variables

1. Aggregating data with agg() function
2. Aggregating data with transform()
3. Deriving columns with loc()

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#create usable path 
path = r'C:\Users\rutha\CareerFoundry\01-23_Instacart_Basket_Analysis'

In [3]:
#import ords_prods_merged dataset
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared_data', 'merged_new_variables.pkl'))

Create a subset of the first one million entries in dataframe

In [4]:
#create subset of first one million entries
df = df_ords_prods_merge[:1000000]

print('Sample output of filter of df_ords_prods_merged:')
df.sample(5)

Sample output of filter of df_ords_prods_merged:

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
794234,1230823,5209,50,5,12,10.0,44008,2,1,both,Organic Greek Whole Milk Blended Vanilla Bean ...,120.0,16.0,5.9,Mid-range product,Regularly busy,Most orders
928881,2944194,5980,21,5,15,2.0,7533,4,1,both,Low-Fat Strawberry Banana on the Bottom Greek ...,120.0,16.0,1.3,Low_range product,Regularly busy,Most orders
626796,265517,4193,27,3,18,4.0,18234,5,1,both,Organic Spinach Bunch,83.0,4.0,6.6,Mid-range product,Slowest days,Average orders
273395,3379809,1820,5,2,12,16.0,28630,5,0,both,Mild Sauce,72.0,13.0,10.9,Mid-range product,Regularly busy,Most orders
214228,1425682,1464,16,5,9,30.0,45125,6,0,both,Boil-In-Bag Whole Grain Brown Rice,63.0,9.0,10.3,Mid-range product,Regularly busy,Most orders

In [5]:
df.shape

(1000000, 17)

## 1. Grouping Data with agg() function

In [24]:
#group your data by product name 
df.groupby('product_name')

Calculating the mean of the 'order_number' grouped by 'department_id'

In [7]:
#split the data into groups based on dep_id, then agg() by ord_number
df.groupby('department_id').agg({'order_number': ['mean']})

print('Mean')

              order_number
                      mean
department_id
1.0              14.792915
2.0              17.091743
3.0              17.919589
4.0              17.891973
5.0              15.214270
6.0              15.382228
7.0              17.699986
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.485395
12.0             15.615845
13.0             16.485052
14.0             17.523474
15.0             15.690354
16.0             18.014342
17.0             16.155822
18.0             19.606536
19.0             17.630236
20.0             17.138204
21.0             21.996844

In [8]:
#using the mean() function
df.groupby('department_id')['order_number'].mean()

department_id
1.0     14.792915
2.0     17.091743
3.0     17.919589
4.0     17.891973
5.0     15.214270
6.0     15.382228
7.0     17.699986
8.0     16.485269
9.0     15.965921
10.0    20.091818
11.0    16.485395
12.0    15.615845
13.0    16.485052
14.0    17.523474
15.0    15.690354
16.0    18.014342
17.0    16.155822
18.0    19.606536
19.0    17.630236
20.0    17.138204
21.0    21.996844
Name: order_number, dtype: float64

In [9]:
#Performing multiple aggregations

print('The mean, min, and max of order number grouped by the department_id:')
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

The mean, min, and max of order number grouped by the department_id:

              order_number
                      mean min max
department_id
1.0              14.792915   1  99
2.0              17.091743   1  98
3.0              17.919589   1  99
4.0              17.891973   1  99
5.0              15.214270   1  99
6.0              15.382228   1  99
7.0              17.699986   1  99
8.0              16.485269   1  91
9.0              15.965921   1  99
10.0             20.091818   1  99
11.0             16.485395   1  99
12.0             15.615845   1  99
13.0             16.485052   1  99
14.0             17.523474   1  99
15.0             15.690354   1  99
16.0             18.014342   1  99
17.0             16.155822   1  99
18.0             19.606536   1  99
19.0             17.630236   1  99
20.0             17.138204   1  99
21.0             21.996844   1  97

## 2. Aggregating Data with Transform

In [27]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [28]:
#function to display all rows
pd.options.display.max_rows = None

In [29]:
df.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low_range product,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low_range product,Regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Average orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low_range product,Slowest days,Average orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Slowest days,Average orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Slowest days,Average orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low_range product,Slowest days,Average orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low_range product,Slowest days,Average orders,10
11,473747,1,3,3,12,21.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Most orders,10
12,473747,1,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Slowest days,Most orders,10
13,473747,1,3,3,12,21.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low_range product,Slowest days,Most orders,10
14,473747,1,3,3,12,21.0,25133,4,0,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Slowest days,Most orders,10
15,473747,1,3,3,12,21.0,30450,5,0,both,Creamy Almond Butter,88.0,13.0,3.2,Low_range product,Slowest days,Most orders,10
16,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Average orders,10
17,2254736,1,4,4,7,29.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Slowest days,Average orders,10
18,2254736,1,4,4,7,29.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low_range product,Slowest days,Average orders,10
19,2254736,1,4,4,7,29.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Slowest days,Average orders,10
20,2254736,1,4,4,7,29.0,26405,5,1,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low_range product,Slowest days,Average orders,10
21,431534,1,5,4,15,28.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Most orders,10
22,431534,1,5,4,15,28.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Slowest days,Most orders,10
23,431534,1,5,4,15,28.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low_range product,Slowest days,Most orders,10
24,431534,1,5,4,15,28.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Slowest days,Most orders,10
25,431534,1,5,4,15,28.0,10326,5,0,both,Organic Fuji Apples,24.0,4.0,2.7,Low_range product,Slowest days,Most orders,10
26,431534,1,5,4,15,28.0,17122,6,0,both,Honeycrisp Apples,24.0,4.0,14.0,Mid-range product,Slowest days,Most orders,10
27,431534,1,5,4,15,28.0,41787,7,0,both,Bartlett Pears,24.0,4.0,5.0,Low_range product,Slowest days,Most orders,10
28,431534,1,5,4,15,28.0,13176,8,1,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Slowest days,Most orders,10
29,3367565,1,6,2,7,19.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average orders,10
30,3367565,1,6,2,7,19.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Regularly busy,Average orders,10
31,3367565,1,6,2,7,19.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low_range product,Regularly busy,Average orders,10
32,3367565,1,6,2,7,19.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Average orders,10
33,550135,1,7,1,9,20.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Busiest days,Most orders,10
34,550135,1,7,1,9,20.0,10258,2,1,both,Pistachios,117.0,19.0,3.0,Low_range product,Busiest days,Most orders,10
35,550135,1,7,1,9,20.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Busiest days,Most orders,10
36,550135,1,7,1,9,20.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Busiest days,Most orders,10
37,550135,1,7,1,9,20.0,13032,5,1,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low_range product,Busiest days,Most orders,10
38,3108588,1,8,1,14,14.0,12427,1,1,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Busiest days,Most orders,10
39,3108588,1,8,1,14,14.0,196,2,1,both,Soda,77.0,7.0,9.0,Mid-range product,Busiest days,Most orders,10
40,3108588,1,8,1,14,14.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,Low_range product,Busiest days,Most orders,10
41,3108588,1,8,1,14,14.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Busiest days,Most orders,10
42,3108588,1,8,1,14,14.0,46149,5,0,both,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,Busiest days,Most orders,10
43,3108588,1,8,1,14,14.0,49235,6,0,both,Organic Half & Half,53.0,16.0,1.8,Low_range product,Busiest days,Most orders,10
44,2295261,1,9,1,16,0.0,49235,1,1,both,Organic Half & Half,53.0,16.0,1.8,Low_range product,Busiest days,Most orders,10
45,2295261,1,9,1,16,0.0,46149,2,1,both,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,Busiest days,Most orders,10
46,2295261,1,9,1,16,0.0,25133,3,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Busiest days,Most orders,10
47,2295261,1,9,1,16,0.0,196,4,1,both,Soda,77.0,7.0,9.0,Mid-range product,Busiest days,Most orders,10
48,2295261,1,9,1,16,0.0,10258,5,1,both,Pistachios,117.0,19.0,3.0,Low_range product,Busiest days,Most orders,10
49,2295261,1,9,1,16,0.0,12427,6,1,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Busiest days,Most orders,10
50,2550362,1,10,4,8,30.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Average orders,10
51,2550362,1,10,4,8,30.0,46149,2,1,both,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,Slowest days,Average orders,10
52,2550362,1,10,4,8,30.0,39657,3,0,both,Milk Chocolate Almonds,45.0,19.0,6.8,Mid-range product,Slowest days,Average orders,10
53,2550362,1,10,4,8,30.0,38928,4,0,both,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range product,Slowest days,Average orders,10
54,2550362,1,10,4,8,30.0,25133,5,1,both,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Slowest days,Average orders,10
55,2550362,1,10,4,8,30.0,10258,6,1,both,Pistachios,117.0,19.0,3.0,Low_range product,Slowest days,Average orders,10
56,2550362,1,10,4,8,30.0,35951,7,0,both,Organic Unsweetened Almond Milk,91.0,16.0,1.3,Low_range product,Slowest days,Average orders,10
57,2550362,1,10,4,8,30.0,13032,8,1,both,Cinnamon Toast Crunch,121.0,14.0,4.0,Low_range product,Slowest days,Average orders,10
58,2550362,1,10,4,8,30.0,12427,9,1,both,Original Beef Jerky,23.0,19.0,4.4,Low_range product,Slowest days,Average orders,10
59,2168274,2,1,2,11,NaN,32792,1,0,both,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,Regularly busy,Most orders,14
60,2168274,2,1,2,11,NaN,47766,2,0,both,Organic Avocado,24.0,4.0,6.3,Mid-range product,Regularly busy,Most orders,14
61,2168274,2,1,2,11,NaN,20574,3,0,both,Roasted Turkey,96.0,20.0,2.3,Low_range product,Regularly busy,Most orders,14
62,2168274,2,1,2,11,NaN,12000,4,0,both,Baked Organic Sea Salt Crunchy Pea Snack,72.0,13.0,10.9,Mid-range product,Regularly busy,Most orders,14
63,2168274,2,1,2,11,NaN,48110,5,0,both,Thin Stackers Brown Rice Lightly Salted,78.0,19.0,2.7,Low_range product,Regularly busy,Most orders,14
64,2168274,2,1,2,11,NaN,22474,6,0,both,Cheddar Bunnies Snack Crackers,78.0,19.0,4.1,Low_range product,Regularly busy,Most orders,14
65,2168274,2,1,2,11,NaN,16589,7,0,both,Plantain Chips,107.0,19.0,5.0,Low_range product,Regularly busy,Most orders,14
66,2168274,2,1,2,11,NaN,35917,8,0,both,Organic Just Concord Grape Juice,98.0,7.0,9.4,Mid-range product,Regularly busy,Most orders,14
67,2168274,2,1,2,11,NaN,27344,9,0,both,Uncured Genoa Salami,96.0,20.0,14.8,Mid-range product,Regularly busy,Most orders,14
68,2168274,2,1,2,11,NaN,30489,10,0,both,Original Hummus,67.0,20.0,7.5,Mid-range product,Regularly busy,Most orders,14
69,2168274,2,1,2,11,NaN,27966,11,0,both,Organic Raspberries,123.0,4.0,4.4,Low_range product,Regularly busy,Most orders,14
70,2168274,2,1,2,11,NaN,13176,12,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Most orders,14
71,2168274,2,1,2,11,NaN,45066,13,0,both,Honeycrisp Apple,24.0,4.0,2.5,Low_range product,Regularly busy,Most orders,14
72,1501582,2,2,5,10,10.0,16797,1,0,both,Strawberries,24.0,4.0,1.3,Low_range product,Regularly busy,Most orders,14
73,1501582,2,2,5,10,10.0,47526,2,0,both,Goat Cheese Log,21.0,16.0,2.0,Low_range product,Regularly busy,Most orders,14
74,1501582,2,2,5,10,10.0,8479,3,0,both,Original Black Box Tablewater Cracker,78.0,19.0,3.5,Low_range product,Regularly busy,Most orders,14
75,1501582,2,2,5,10,10.0,47766,4,1,both,Organic Avocado,24.0,4.0,6.3,Mid-range product,Regularly busy,Most orders,14
76,1501582,2,2,5,10,10.0,19051,5,0,both,"Pita Chips, Simply Naked, Party Size",107.0,19.0,3.9,Low_range product,Regularly busy,Most orders,14
77,1501582,2,2,5,10,10.0,8138,6,0,both,Traditional Hummus,67.0,20.0,2.0,Low_range product,Regularly busy,Most orders,14
78,1901567,2,3,1,10,3.0,47766,1,1,both,Organic Avocado,24.0,4.0,6.3,Mid-range product,Busiest days,Most orders,14
79,1901567,2,3,1,10,3.0,32792,2,1,both,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,Busiest days,Most orders,14
80,1901567,2,3,1,10,3.0,20574,3,1,both,Roasted Turkey,96.0,20.0,2.3,Low_range product,Busiest days,Most orders,14
81,1901567,2,3,1,10,3.0,7781,4,0,both,Organic Sticks Low Moisture Part Skim Mozzarel...,21.0,16.0,6.6,Mid-range product,Busiest days,Most orders,14
82,1901567,2,3,1,10,3.0,28874,5,0,both,Carrot Ginger Soup,1.0,20.0,6.2,Mid-range product,Busiest days,Most orders,14
83,738281,2,4,2,10,8.0,49451,1,0,both,Artichoke Spinach Dip,67.0,20.0,7.1,Mid-range product,Regularly busy,Most orders,14
84,738281,2,4,2,10,8.0,32792,2,1,both,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,Regularly busy,Most orders,14
85,738281,2,4,2,10,8.0,32139,3,0,both,Hommus Classic Original,67.0,20.0,7.5,Mid-range product,Regularly busy,Most orders,14
86,738281,2,4,2,10,8.0,34688,4,0,both,Good Belly Probiotics Juice Drink Blueberry Ac...,31.0,7.0,5.8,Mid-range product,Regularly busy,Most orders,14
87,738281,2,4,2,10,8.0,36735,5,0,both,Organic Roasted Sliced Chicken Breast,96.0,20.0,8.9,Mid-range product,Regularly busy,Most orders,14
88,738281,2,4,2,10,8.0,37646,6,0,both,Organic Gala Apples,24.0,4.0,9.1,Mid-range product,Regularly busy,Most orders,14
89,738281,2,4,2,10,8.0,22829,7,0,both,Multigrain Flax Seeded Flatbread Crackers,78.0,19.0,5.5,Mid-range product,Regularly busy,Most orders,14
90,738281,2,4,2,10,8.0,24852,8,0,both,Banana,24.0,4.0,12.3,Mid-range product,Regularly busy,Most orders,14
91,738281,2,4,2,10,8.0,47209,9,0,both,Organic Hass Avocado,24.0,4.0,4.0,Low_range product,Regularly busy,Most orders,14
92,738281,2,4,2,10,8.0,33276,10,0,both,Kalamata Olive Spread,67.0,20.0,10.8,Mid-range product,Regularly busy,Most orders,14
93,738281,2,4,2,10,8.0,45613,11,0,both,Pad Thai,38.0,1.0,12.6,Mid-range product,Regularly busy,Most orders,14
94,738281,2,4,2,10,8.0,9681,12,0,both,Chicken Tikka Masala with Cumin Infused Basmat...,38.0,1.0,2.0,Low_range product,Regularly busy,Most orders,14
95,738281,2,4,2,10,8.0,21150,13,0,both,Fire Grilled Steak Bowl,38.0,1.0,5.9,Mid-range product,Regularly busy,Most orders,14
96,1673511,2,5,3,11,8.0,47144,1,0,both,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,Mid-range product,Slowest days,Most orders,14
97,1673511,2,5,3,11,8.0,5322,2,0,both,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,Low_range product,Slowest days,Most orders,14
98,1673511,2,5,3,11,8.0,17224,3,0,both,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,Low_range product,Slowest days,Most orders,14
99,1673511,2,5,3,11,8.0,38656,4,0,both,Gluten Free Peanut Butter Dark Chocolate Chewy...,3.0,19.0,3.4,Low_range product,Slowest days,Most orders,14

## 3. Deriving Columns with loc()

In [14]:
#Creating my flag based on values using loc()

In [30]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [31]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 40, 'loyalty_flag'] = 'Regular customer'

In [32]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [34]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

In [37]:
#checking output of certain columns
df_ords_prods_merge[['user_id', 'loyalty_flag', 'max_order']].sample(60)

          user_id      loyalty_flag  max_order
5564396     35383      New customer          4
29432131   186938  Regular customer         16
9636609     61148  Regular customer         37
25469073   161747  Regular customer         34
8199080     51988  Regular customer         11
8106780     51407  Regular customer         19
5318117     33797      New customer          5
26173262   166333  Regular customer         32
1659094     10691  Regular customer         35
4693076     29952    Loyal customer         61
15538966    98281    Loyal customer         64
20424264   129639  Regular customer         38
2209500     14240    Loyal customer         42
15884292   100483  Regular customer         34
30639144   194608      New customer          8
4490980     28587  Regular customer         21
3989034     25327    Loyal customer         55
27101150   172269      New customer          4
23167948   147126  Regular customer         31
20004220   126868    Loyal customer         54
5029968     32003  Regular customer         22
433306       2871  Regular customer         13
29516401   187512  Regular customer         24
17184648   108741  Regular customer         26
27874751   177129    Loyal customer         72
5981034     38072  Regular customer         21
30328264   192711  Regular customer         29
22543353   143181  Regular customer         13
17568274   111075  Regular customer         40
24987620   158632  Regular customer         38
13726536    86881  Regular customer         36
20306736   128885  Regular customer         20
1529758      9882  Regular customer         32
14308777    90593  Regular customer         34
8494485     53823    Loyal customer         72
30659211   194744      New customer         10
10230154    65095    Loyal customer         43
27423555   174314  Regular customer         13
1727051     11165  Regular customer         34
24195226   153578  Regular customer         29
6258125     39865  Regular customer         25
6265380     39909      New customer          7
2348266     15064      New customer          6
28389106   180393      New customer          3
10586254    67170  Regular customer         30
7829997     49690      New customer          5
27517107   174911  Regular customer         24
3953841     25132    Loyal customer         99
9829712     62484  Regular customer         14
29579325   187890  Regular customer         32
369709       2453      New customer          9
10890275    68996      New customer          7
14736576    93271      New customer          6
29071324   184661      New customer          8
27827660   176813      New customer         10
16044662   101459    Loyal customer         57
10499574    66664    Loyal customer         95
21835559   138709  Regular customer         24
28701432   182377  Regular customer         19
26692845   169738  Regular customer         25