# 4.8 Grouping Data and Aggregating Variables

In [1]:
# import libraties
import pandas as pd
import numpy as np
import os

In [2]:
#create usable path 
path = r'C:\Users\rutha\CareerFoundry\01-23_Instacart_Basket_Analysis'

In [3]:
#import ords_prods_merge dataset
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared_data', 'merged_new_variables.pkl'))

In [4]:
#check dataframe output
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.000000,Mid-range product,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.500000,Mid-range product,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.398438,Low_range product,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.699219,Low_range product,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.000000,Low_range product,Regularly busy,Average orders

In [5]:
df_ords_prods_merge.shape

(32435059, 17)

## 1. Aggregating data with the agg() function

#### Aggregate the mean of the "order_number" column grouped by "department_id" for the entire dataframe

In [6]:
# group df_ords_prods_merge by the 'department_id' column, then calculate the mean, min and max of the 'order_number' column
print('The mean, min and max of order_number grouped by the department_id column in df_ords_prods_merge:')
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

The mean, min and max of order_number grouped by the department_id column in df_ords_prods_merge:

              order_number
                      mean min max
department_id
1.0              15.457838   1  99
2.0              17.277920   1  99
3.0              17.170395   1  99
4.0              17.811403   1  99
5.0              15.215751   1  99
6.0              16.439806   1  99
7.0              17.225802   1  99
8.0              15.340650   1  99
9.0              15.895474   1  99
10.0             20.197148   1  99
11.0             16.170638   1  99
12.0             15.887671   1  99
13.0             16.583536   1  99
14.0             16.773669   1  99
15.0             16.165037   1  99
16.0             17.665606   1  99
17.0             15.694469   1  99
18.0             19.310397   1  99
19.0             17.177343   1  99
20.0             16.473447   1  99
21.0             22.902379   1  99

#### Creating a subset to compare aggregations against the entire dataframe

In [7]:
#creating subset and printing to check output
df_subset = df_ords_prods_merge[:1000000]

print('First five results of df_ords_prods_merge subset')
df_subset.head(5)

First five results of df_ords_prods_merge subset

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.000000,Mid-range product,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.500000,Mid-range product,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.398438,Low_range product,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.699219,Low_range product,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.000000,Low_range product,Regularly busy,Average orders

In [8]:
# group df_subset by the 'department_id' column, then calculate the mean, min and max of the 'order_number' column
print('The mean, min and max of order_number grouped by the department_id column in df_subset:')
df_subset.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

The mean, min and max of order_number grouped by the department_id column in df_subset:

              order_number
                      mean min max
department_id
1.0              14.792915   1  99
2.0              17.091743   1  98
3.0              17.919589   1  99
4.0              17.891973   1  99
5.0              15.214270   1  99
6.0              15.382228   1  99
7.0              17.699986   1  99
8.0              16.485269   1  91
9.0              15.965921   1  99
10.0             20.091818   1  99
11.0             16.485395   1  99
12.0             15.615845   1  99
13.0             16.485052   1  99
14.0             17.523474   1  99
15.0             15.690354   1  99
16.0             18.014342   1  99
17.0             16.155822   1  99
18.0             19.606536   1  99
19.0             17.630236   1  99
20.0             17.138204   1  99
21.0             21.996844   1  97

Observations: whilst there are some difference between the aggregations seen in the subset compared to the entire dataframe, they tend to be within reasonable ranges. Of the three departments I calculated, department 1 was within 4%, department 8 was within 7%, and department 21 was within 3%. There is more variance in the max values in the subset, but again, it's not by much.

## 2. Creating a loyalty flag for customers using transform() and loc() functions

#### Create a new column, 'max_order' to place the results of the maximum orders for each user

In [9]:
# create a new column 'max_order' containing the maximum order number for each user_id, calculated using the groupby() and transform() functions
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
#check output by looks at user_id and max_order
print('Sample user_id and max_order output:')
df_ords_prods_merge[['user_id', 'max_order']].sample(10)

Sample user_id and max_order output:

          user_id  max_order
31081072   197431         55
28598204   181782         85
25910069   164574         15
501823       3358         28
16093020   101770          6
838081       5416         11
24535671   155794         38
17889338   113136         18
30373671   192999         74
16324497   103280          6

#### Derive a new column, 'loyalty_flag' using the loc() function and the values found in "max_order"

In [11]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 40, 'loyalty_flag'] = 'Regular customer'

In [13]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
#checking ouput of flag creation
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

In [15]:
# checking the accuracy of the 'loyalty_flag' column with output from columns 'user_id', 'max_order', and 'loyalty_flag' column
print('Sample output from columns user_id, max_order and loyalty_flag columns:')
df_ords_prods_merge[['user_id', 'max_order', 'loyalty_flag']].sample(20)

Sample output from columns user_id, max_order and loyalty_flag columns:

          user_id  max_order      loyalty_flag
1727338     11170         59    Loyal customer
12228210    77408         22  Regular customer
7081362     44944         75    Loyal customer
4294929     27300         42    Loyal customer
17344810   109785         20  Regular customer
26176858   166352         48    Loyal customer
30312810   192604         49    Loyal customer
24342609   154481         21  Regular customer
18126314   114704         30  Regular customer
18451360   116773          5      New customer
25387257   161200         99    Loyal customer
19836137   125763         48    Loyal customer
13289923    84092         99    Loyal customer
13130203    83115         18  Regular customer
26199467   166508         54    Loyal customer
14816556    93819          9      New customer
22211669   141077         44    Loyal customer
23657334   150268         72    Loyal customer
3431707     21992          7      New customer
29730138   188781         54    Loyal customer

## 3. Looking at the spending habits of different customers

#### Check basic statistics of product prices for each loyalty category (loyal, regular, and new). Do the prices of products purchased by each loyalty group differ?

In [16]:
#basic statistical comparison of 'loyalty_flag' column, followed by calculation of mean, min, max, and sum of the 'prices' column
print('The mean, min, max, and sum of prices grouped by the loyalty_flag:')

df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

The mean, min, max, and sum of prices grouped by the loyalty_flag:

                 prices
                   mean  min  max sum
loyalty_flag
Loyal customer      NaN  1.0  inf NaN
New customer        NaN  1.0  inf NaN
Regular customer    NaN  1.0  inf NaN

In [17]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32435059 entries, 0 to 32435058
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   _merge                  category
 10  product_name            object
 11  aisle_id                float64
 12  department_id           float64
 13  prices                  float64
 14  price_range_loc         object
 15  busiest_days            object
 16  busiest_period_of_day   object
 17  max_order               int8
 18  loyalty_flag            object
dtypes: category(1), float16(1), float64(3), int32(2), int64(3), int8(4), object(5)
memory usage: 3.4+ GB

In [18]:
#confirming the numbers of each type of customer
df_ords_prods_merge.groupby('loyalty_flag')['user_id'].count()

loyalty_flag
Loyal customer      10294027
New customer         6249525
Regular customer    15891507
Name: user_id, dtype: int64

##### Calculating each loyalty flag as a percentage of total orders

In [19]:
#setting loyalty_flag as variable 
loyalty_flag = df_ords_prods_merge.loyalty_flag

In [20]:
#calculating loyalty_flag as % of whole
percent_loyalty_flag = loyalty_flag.value_counts(normalize = True)
print(percent_loyalty_flag)

Regular customer    0.489948
Loyal customer      0.317373
New customer        0.192678
Name: loyalty_flag, dtype: float64

In [21]:
#returning results in easier to read format 
percent_loyalty_flag_100 = loyalty_flag.value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
print(percent_loyalty_flag_100)

Regular customer    49.0%
Loyal customer      31.7%
New customer        19.3%
Name: loyalty_flag, dtype: object

### Observations

Almost 50% of orders fall within the regular customer category, just over 30% are from loyal customers, and just under 20% are new customers. Interestingly, the average price for loyal customers is the lowest of the three groups whilst new customers have the highest. The maximum price value does seem like an outlier, and requires further investigation. Significant outliers like this could skew our data.

##### Investigating the outlier prices

In [22]:
#returning a list of all prices, ordered by most expensive
df_ords_prods_merge['prices'].drop_duplicates().sort_values(ascending = False)

129037             inf
1576      1.489600e+04
9411      2.500000e+01
45603     2.490625e+01
98498     2.479688e+01
              ...
56        1.299805e+00
471       1.200195e+00
423       1.099609e+00
4         1.000000e+00
2963               NaN
Name: prices, Length: 243, dtype: float64

There are two prices which appear to be outliers: 99,999 and 14,900

In [23]:
#filtering the dataset by two outlier prices
max_price = df_ords_prods_merge.loc[df_ords_prods_merge['prices'].isin([99999, 14900])]

In [24]:
max_price.sample(5)

ValueError: a must be greater than 0 unless no samples are taken

In [ ]:
max_price.shape

There are 5127 rows impacted by these values. I will do some more investigation to see if we can figure out the correct price and amend the dataset to reflect. The results of this may impact the mean values return in the functions above.

## 3. Create a spending flag for each user based on the average price across all their order

* If the mean of the prices of products purchased by a user is lower than 10, then flag them as a "Low spender".
* If the mean of the prices of products purchased by a user is higher than or equsl to 10, then flag them as a "High spender"

In [ ]:
#create a new columns called "spending_flag"
df_ords_prods_merge['avg_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [ ]:
#round the averages
df_ords_prods_merge['avg_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean).round(2)

In [ ]:
#check output
print('Sample of user_id and average price output:')
df_ords_prods_merge[['user_id', 'avg_price']].sample(10)

#### Create a flag which tags any user with an average spend of more than or equal to 10, as "high spender". Any customers with an average spend of less than 10 will be marked as "Low spender"

In [ ]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] >= 10, 'spending_flag']='High spender'

In [ ]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] < 10, 'spending_flag']='Low spender'

In [ ]:
#check output
df_ords_prods_merge.head()

In [ ]:
df_ords_prods_merge.info()

## 4. Create an order frequency flag which corresponds to how often a user orders

In [ ]:
If the median of "days_since_prio"